{% extends "default/base.html" %}

{% block content %}

<h1>
    {% if seo.h1 %}
        {{ seo.h1 }}
    {% else %}
        {{ trans.text_flat }} {{ flat.number|default:"" }}
    {% endif %}
</h1>

<p>
    {{ trans.text_project }} {{ flat.house.project.name }}
</p>

<p>
    {{ trans.text_house }} {{ flat.house }}
</p>

<hr>

<h4>{{ trans.text_specials }}</h4>

{% if flat.params %}
    <p>{{ trans.of_rooms }} {{ flat.params.rooms }}</p>
    <p>{{ trans.text_square }} {{ flat.params.square }} {{ trans.text_m2 }}</p>
    <p>{{ trans.text_floor }} {{ flat.params.floor }}</p>
    <p>{{ trans.text_flat_layout }} <img src="{{ flat.plan }}"></p>
{% endif %}

<hr>

<h4>{{ trans.text_offers }}</h4>

{% for deal in flat.deals.all %}
    <div>
        {{ deal.deal_type }}:
        <strong>{{ deal.price }} {{ deal.currency }}</strong>
    </div>
{% empty %}
    <p>{{ trans.no_offers }}</p>
{% endfor %}

{% endblock %}
