<div class="card p-3 mb-3">

    <div class="d-flex justify-content-between">
        <div>
            <strong>{{ flat.house.project.name }}</strong>
        </div>

        {% if flat.number %}
           <a href="{{ flat.get_absolute_url }}"><span class="text-muted">№{{ flat.number }}</span></a>
        {% endif %}
    </div>

    <div class="mt-2">
        <div>{{ trans.text_house }} {{ flat.house }}</div>

        {% if flat.params.rooms %}
            <div>{{ trans.of_rooms }} {{ flat.params.rooms }}</div>
        {% endif %}

        {% if flat.params.square %}
            <div>{{ trans.text_square }} {{ flat.params.square }} {{ trans.text_m2 }}</div>
        {% endif %}

        {% with deal=flat.deals.first %}
            {% if deal and deal.price %}
                <div class="mt-2">
                    <strong>
                        {{ deal.price }} {{ deal.currency }}
                    </strong>
                </div>
            {% endif %}
        {% endwith %}
    </div>

</div>
