{# templates/default/pages/estates/house_card.html #}

{% load image_utils %}

<div class="card mb-3">
    {% if house.image %}
        <div class="card-img-wrapper">
            <a href="{% url 'house_detail' house.project.slug house.slug %}" class="">
                <img
                    src="{{ house.image|image_variant:480 }}"
                    srcset="{{ house.image|image_srcset:'320,480,640' }}"
                    sizes="(max-width: 768px) 100vw, 25vw"
                    loading="lazy"
                    class="card-img-top"
                    alt="">
            </a>
        </div>
    {% endif %}

    <div class="card-body">
        {# город через ProjectParams #} 
    {% if project.params and project.params.city %} 
      <span class="card-city">{{ project.params.city.name }}</span> 
    {% endif %}
        <h5 class="card-title">
            {{ house.params.address|default:trans.no_address }} {{ house.params.corpus }}
        </h5>

        <p class="card-text">
            {{ house.project.name }}
        </p>

        {% if house.params.deadline %}
            <p class="text-muted">
                {{ trans.deadline }} {{ house.params.deadline }} {{ house.params.deadline_year }} ({{ house.params.phase }})<br>
            </p>
            {% if house.params.building_status %}
                <span class="card-flag right position-absolute">{{ house.params.building_status }}</span>
            {% endif %}
        {% endif %}

        <div class="text-center">
            <a href="{% url 'house_detail' house.project.slug house.slug %}" class="btn btn-primary inverted">
                {{ trans.button_more }}
            </a>
        </div>
    </div>
</div>
