<!-- /opt/balthub/templates/default/pages/estates/house_detail.html -->

{% extends "default/base.html" %}

{% load localization %}

{% load static %}

{% block content %}

<h1>{{ house.params.address|default:trans.text_house }}</h1>

<p><strong>{{ trans.text_project }}:</strong> {{ house.project.name }}</p>
<p><strong>{{ trans.text_city }}:</strong> {{ house.project.params.city.name }}</p>

<hr>

<ul>
    <li>{{ trans.text_corpus }}: {{ house.params.corpus }}</li>
    <li>{{ trans.text_phase }}: {{ house.params.phase }}</li>
    <li>{{ trans.text_floors }}: {{ house.params.floors }}</li>
    <li>{{ trans.text_deadline }}: {{ house.params.deadline }}</li>
    <li>{{ trans.text_deadline_year }}: {{ house.params.deadline_year }}</li>
    <li>{{ trans.text_house_structure_type }}: {{ house.params.house_structure_type }}</li>
    <li>{{ trans.text_building_status }}: {{ house.params.building_status }}</li>
</ul>

<hr>

<p>
    {{ trans.text_parking }}: {{ house.params.parking|yesno_i18n }}<br>
    {{ trans.text_lift }}: {{ house.params.lift|yesno_i18n }}
</p>

<hr>

<h2>{{ trans.text_layouts }}</h2>

{% if rooms_groups %}

    <div class="house-layouts">

        {% for rooms in rooms_groups %}

            <div class="rooms-group mb-4">

                <button
                    class="rooms-toggle btn btn-dark w-100 text-start"
                    data-rooms="{{ rooms }}"
                    data-house="{{ house.slug }}"
                >
                    {{ rooms }}-{{ trans.text_roomcols }}
                </button>

                <div
                    class="rooms-content mt-4"
                    id="rooms-content-{{ rooms }}"
                    data-plans-url="{% url 'house_plans_ajax' house.slug %}"
                >

                    <div
                        class="plans-wrapper"
                        data-ajax-list
                        data-container=".plans-container-wrapper"
                    >

                        <div class="ajax-loader-overlay hidden">
                            <div class="spinner"></div>
                        </div>

                        <div class="plans-container-wrapper">

                            {% include "default/pages/estates/ajax/_plans_items.html" %}

                        </div>

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

{% endif %}


{% endblock %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'assets/css/picker.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'assets/js/infinite-scroll.js' %}"></script>
    <script src="{% static 'assets/js/picker_stable.js' %}"></script>
    <script src="{% static 'assets/js/house-plans.js' %}"></script>
{% endblock %}
