<!-- /opt/balthub/templates/default/pages/estates/project_detail.html -->

{% extends "default/base.html" %}

{% load static %}
{% load image_utils %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}

<div class="mt-4">

    <div class="row">
        <div class="col-12 col-xl-8">
            <h1 class="mb-3">
                {{ seo.h1|default:project.name }}
                {% if project.params %}
                    <small>
                        {% if project.params.city %}
                            {{ project.params.city.name }},
                        {% endif %}

                        {% if project.params.district %} 
                            {{ project.params.district.name }}
                        {% endif %}
                    </small>
                {% endif %}
            </h1>
        </div>
        <div class="col-12 col-xl-2 offset-xl-2 text-end">
            {% if project.developer and project.developer.slug %}
                <a href="{% url 'developer_detail' project.developer.slug %}">
                    {% if project.developer.logo %}
                        <img src="{{ project.developer.logo.url }}" alt="{{ project.developer.name }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ project.developer.name }}" class="img-fluid">
                    {% else %}
                        {{ project.developer.name }}
                    {% endif %}
                </a>
            {% else %}
                {{ project.developer.name }}
            {% endif %}
        </div>
    </div>




{% if map_points_json %}

<div class="project-map">

<h2 class="text-center">{{ trans.text_coordinates }}</h2>

{% if map_points %}

    {% with map_id="collection-map-project" data_id="collection-map-data-project" %}
    <div id="{{ map_id }}" data-zoom="12"></div>
    {{ map_points|json_script:data_id }}
    {% endwith %}

{% endif %}
</div>

{% endif %}

<div class="project-slides">
    <h2 class="text-center">{{ trans.text_exterrior }}</h2>
    <!-- Слайдшоу -->
    {% include "default/modules/project_slideshow.html" with project=project %}
    </div>

<div class="project-houses">
    <!-- Дома - tpl: ajax/_house_list.html -->
    <div id="houses-list">
        <h2 class="text-center">{{ trans.text_houses }}</h2>

        <div 
            data-ajax-list
            data-container="#houses-block"
            data-form=".house-filter-form"
            data-push-state="true"
        >

            <div class="ajax-loader-overlay hidden">
                <div class="spinner"></div>
            </div>
            
            <div id="houses-block">
                {% include "default/pages/estates/ajax/_house_list.html" %}
            </div>    
        </div>
    </div>
</div>
<div class="project-flats">
    <!-- Квартиры -->
    <div id="flats-list" class="mt-5">
        <h2 class="text-center mb-4">{{ trans.choose_flat }} {{ project.name }}</h2>

        <div 
            data-ajax-list
            data-container="#flats-block"
            data-push-state="true"
            data-section="flats"
        >
            <div class="ajax-loader-overlay hidden">
                <div class="spinner"></div>
            </div>

            <div class="flats-list row">
                <div class="flats-list-pickers col-12 col-xl-3">
                    {% include "default/modules/picker_flats.html" with pickers=flats_pickers %}
                </div>
                <div class="flats-list-content col-12 col-xl-9">
                    <div id="flats-block">
                        <div class="" data-items>
                            {% if flats_page_obj %}
                                {% for flat in flats_page_obj %}
                                    {% include "default/pages/estates/project_flat_card.html" with flat=flat %}
                                {% endfor %}
                            {% else %}
                                <div class="col-12 flats-empty">
                                    <p>{{ trans.no_flats }}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="pagination-wrapper" data-pagination>
                        {% include "default/includes/infinite_pagination.html" with page_obj=flats_page_obj paginator=flats_paginator page_range=flats_page_range %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

{% endblock %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'assets/css/picker.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/maps.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/project_detail.css' %}">
    
    {% if project.images.all %}
        <style>
            :root {
                --project-first-image: url('{{ project.images.first.image|image_variant:1200 }}');
                {% with second_image=project.images.all|slice:"1:2" %}
                    {% if second_image %}
                        --project-second-image: url('{{ second_image.0.image|image_variant:1200 }}');
                    {% endif %}
                {% endwith %}
                {% with third_image=project.images.all|slice:"2:3" %}
                    {% if third_image %}
                        --project-third-image: url('{{ third_image.0.image|image_variant:1200 }}');
                    {% endif %}
                {% endwith %}
                {% with last_image=project.images.all|slice:"-1:" %}
                    {% if last_image %}
                        --project-last-image: url('{{ last_image.0.image|image_variant:1200 }}');
                    {% endif %}
                {% endwith %}
            }
        </style>
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'assets/js/infinite-scroll.js' %}"></script>
    <script src="{% static 'assets/js/picker_stable.js' %}"></script>
    <script src="{% static 'assets/js/house-plans.js' %}"></script>
    <script src="{% static 'assets/js/project-slideshow.js' %}"></script>

    {% if map_settings.enabled and map_settings.provider == "yandex" %}

        <script src="https://api-maps.yandex.ru/v3/?apikey={{ map_settings.api_key }}&lang={{ map_settings.language }}"></script>

        <script src="{% static 'assets/js/maps/yandex.js' %}"></script>

        <script src="{% static 'assets/js/maps/project.js' %}"></script>

    {% endif %}
{% endblock %}
