{% load humanize %}
{% load price_utils %}

<div class="col-6 col-xl-4 pb-4">
    <div class="card p-3">
        <h5 class="uppercase">{{ flat.house.project.name }}</h5>
        <ul class="card-params list-unstyled font-size-fix h-list mb-3">
            {% if flat.number %}
                <li>№{{ flat.number }}</li>
            {% endif %}
            <li>{{ flat.params.rooms_alias }}</li>
            {% if flat.params.square %}
                <li>{{ flat.params.square }} {{ trans.text_m2 }}</li>
            {% endif %}
            {% if flat.params.floor %}
                <li>{{ flat.params.floor }} {{ trans.text_floor }}</li>
            {% endif %}
        </ul>
        <div class="flat-plan mb-3">
            <a href="{{ flat.get_absolute_url }}" class="">
                <img src="{{ flat.plan }}" class="flat-plan-img img-contain img-grayscale">
            </a>
        </div>
        <div class="card-data">
            <ul class="list-unstyled h-list flat-tags d-none">
                {% if flat.house.params.deadline and flat.house.params.deadline_year %}
                    <li>{{ flat.house.params.deadline }} {{ flat.house.params.deadline_year }}</li>
                {% endif %}
                {% for tag in flat.flat_tags.all %}
                    <li class="flat-tag">{{ tag.tag.name }}</li>
                {% endfor %}
            </ul>
            {% if flat.params.finish_type %}
                <p class="small text-muted">{{ flat.params.finish_type }}</p>
            {% endif %}
        </div>
        <div class="flat-price text-end">
            {% with deal=flat.deals.first %}
                {% if deal and deal.price %}
                    <div class="flat-price-sum">
                        {{ deal.currency.prefix }} {{ deal.price|format_price }} {{ deal.currency.postfix }}
                    </div>
                    <div class="flat-price-per-m2 text-muted">
                        {{ deal.currency.prefix }} {{ flat.price_per_m2|format_price }} {{ deal.currency.postfix }}/{{ trans.text_m2 }}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="flat-actions text-center mt-3">
            <a href="{{ flat.get_absolute_url }}" class="uppercase">{{ trans.text_more }}</a>
        </div>
    </div>
</div>
