<!-- /opt/balthub/templates/default/pages/estates/tag_detail.html -->

{% extends "default/base.html" %}

{% load static %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content %}

    <h1 class="mb-4">{{ tag.name }}</h1>

    <ul class="nav nav-tabs h-list d-block font-size-fix mb-4" id="tagDetailTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active position-relative px-5" id="projects-tab" data-bs-toggle="tab" data-bs-target="#projects-pane" type="button" role="tab" aria-controls="projects-pane" aria-selected="true">{{ trans.text_projects }}</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link position-relative px-5" id="flats-tab" data-bs-toggle="tab" data-bs-target="#flats-pane" type="button" role="tab" aria-controls="flats-pane" aria-selected="false">{{ trans.text_flats }}</button>
        </li>
    </ul>

    <div class="tab-content" id="tagDetailTabContent">
        <div class="tab-pane fade show active" id="projects-pane" role="tabpanel" aria-labelledby="projects-tab" tabindex="0">
            <div 
                data-ajax-list
                data-container="#project-list-container"
                data-form=".house-filter-form"
                data-scroll="top"
                data-push-state="true"
            >
                <div class="ajax-loader-overlay hidden">
                    <div class="spinner"></div>
                </div>
                <div id="project-list-container">
                    {% include "default/pages/estates/ajax/_project_list.html" %}
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="flats-pane" role="tabpanel" aria-labelledby="flats-tab" tabindex="0">
            <div class="flats-list row">
                <div class="flats-list-pickers col-12 col-xl-3">
                    {% include "default/modules/picker_flats.html" with pickers=flats_pickers %}
                </div>
                <div class="flats-list-content col-12 col-xl-9">
                    <div 
                        data-ajax-list
                        data-container="#flats-block"
                        data-scroll="top"
                        data-push-state="true"
                        data-section="flats"
                    >
                        <div class="ajax-loader-overlay hidden">
                            <div class="spinner"></div>
                        </div>
                        <div id="flats-block">
                            <div class="row" data-items>
                                {% if flats_page_obj %}
                                    {% for flat in flats_page_obj %}
                                        {% include "default/pages/estates/project_flat_card.html" with flat=flat %}
                                    {% endfor %}
                                {% else %}
                                    <div class="col-12 flats-empty">
                                        <p>{{ trans.no_flats }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="pagination-wrapper" data-pagination>
                            {% include "default/includes/infinite_pagination.html" with page_obj=flats_page_obj paginator=flats_paginator page_range=flats_page_range %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'assets/css/picker.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/project_detail.css' %}">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'assets/js/infinite-scroll.js' %}"></script>
    <script src="{% static 'assets/js/picker_stable.js' %}"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var flatsTab = document.getElementById('flats-tab');
        var flatsPane = document.getElementById('flats-pane');
        var flatsBlock = document.getElementById('flats-block');
        var flatsLoaded = false;

        function loadFlats() {
            if (!flatsBlock || flatsLoaded) return;
            var url = '?tab=flats';
            fetch(url, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(function(response) {
                return response.text();
            })
            .then(function(html) {
                flatsBlock.innerHTML = html;
                flatsLoaded = true;
                if (typeof initPickers === 'function') {
                    initPickers();
                }
            });
        }

        if (flatsTab) {
            flatsTab.addEventListener('shown.bs.tab', function() {
                loadFlats();
            });
        }

        if (flatsPane && flatsPane.classList.contains('show')) {
            loadFlats();
        }
    });
    </script>
{% endblock %}
