{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %} - {{ seo.site_name }} | {{ seo.site_title }}
    </title>

    <meta name="description" content="{% if seo.description %}{{ seo.description }}{% endif %}">
    <meta name="keywords" content="{% if seo.keywords %}{{ seo.keywords }}{% endif %}">
    <meta name="robots" content="{% if seo.robots %}{{ seo.robots }}{% else %}index, follow{% endif %}">

    <link rel="canonical" href="{% if seo.canonical %}{{ seo.canonical }}{% endif %}">

    <meta property="og:title" content="{% if seo.og_title %}{{ seo.og_title }}{% endif %}">
    <meta property="og:description" content="{% if seo.og_description %}{{ seo.og_description }}{% elif seo.description %}{{ seo.description }}{% endif %}">
    <meta property="og:url" content="{% if seo.og_url %}{{ seo.og_url }}{% elif seo.canonical %}{{ seo.canonical }}{% endif %}">
    {% if seo.og_image %}
      <meta property="og:image" content="{{ seo.og_image }}">
    {% endif %}

    {% if seo.json_ld %}
      <script type="application/ld+json">{{ seo.json_ld|safe }}</script>
    {% endif %}

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- Toastr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/006.balthub-favicon-transparent.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/006.balthub-favicon-transparent.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/images/006.balthub-favicon-transparent.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/006.balthub-favicon-transparent.png' %}">
    <link rel="stylesheet" href="{% static 'assets/css/alienstyle.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>

    {% include "default/layout/header.html" %}

    

    {% include "default/layout/content_top.html" %}

    {% block layout %}
        <div class="container-fluid mb-4 {% if is_home %}d-none{% endif %}">
            <div class="row">

                {% if layout.sidebar %}
                    <aside class="col-md-3 col-xl-2 offset-xl-1">
                        {% include "default/includes/render_modules.html" with modules=layout.sidebar %}
                    </aside>
                    <main class="col-md-9 col-xl-8 content-wrapper">
                        {% include "default/includes/breadcrumbs.html" %}
                {% else %}
                    <main class="col-12 col-xl-10 offset-xl-1 content-wrapper">
                        {% include "default/includes/breadcrumbs.html" %}
                {% endif %}

                        {% block content %}{% endblock %}

                    </main>

            </div>
        </div>
    {% endblock %}

    {% include "default/layout/content_bottom.html" %}

    {% include "default/layout/footer.html" %}
    {% include "default/layout/scripts.html" %}

    {% block extra_js %}{% endblock %}
</body>
</html>
