{# templates/default/modules/main_menu.html #}

<ul class="navbar-nav flex-row gap-3">

    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">{{ trans.home }}</a>
    </li>

    <!--
    <li class="nav-item">
        <a class="nav-link" href="{% url 'developer_list' %}">{{ trans.developer_list }}</a>
    </li>
    -->

    <li class="nav-item">
        <a class="nav-link" href="{% url 'project_list' %}">{{ trans.project_list }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">{{ trans.mortgage }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">{{ trans.kaliningrad }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">{{ trans.suburb }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">{{ trans.seaside }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">{{ trans.contacts }}</a>
    </li>

    <!--
    <li class="nav-item">
        <a class="nav-link" href="{% url 'house_list' %}">{{ trans.house_list }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'plans' %}">{{ trans.plans }}</a>
    </li>
    -->

</ul>
