{# templates/default/modules/main_menu.html #}
<!-- MODULE: main_menu -->

<ul class="navbar-nav flex-row gap-3">

    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Главная</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'developer_list' %}">Застройщики</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'project_list' %}">Проекты</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'house_list' %}">Дома</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">Планировки</a>
    </li>

</ul>
