{# templates/default/modules/main_menu.html #}

<ul class="navbar-nav flex-row align-items-center gap-3">

    <!--
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">{{ trans.home }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'developer_list' %}">{{ trans.developer_list }}</a>
    </li>
    -->

    <li class="nav-item">
        <a class="nav-link" href="{% url 'project_list' %}">{{ trans.project_list }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/estates/tags/kalininigrad/">{{ trans.kaliningrad }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/estates/tags/prigorod/">{{ trans.suburb }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/estates/tags/poberezhe/">{{ trans.seaside }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/estates/tags/ipoteka/">{{ trans.mortgage }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">{{ trans.text_blog }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#">{{ trans.contacts }}</a>
    </li>

    <li class="nav-item phone-item">
        <!--
        <a class="nav-link" href="#">+7 921 102 6623</a>
        -->
        {% if site_settings and site_settings.phones %}
            {% with primary=site_settings.phones|first %}
                <a class="nav-link" href="tel:{{ primary.value }}">{{ primary.value }}</a>
            {% endwith %}
        {% endif %}
    </li>

    <li class="nav-item call-item">
        <a class="btn menu-btn" href="#" data-bs-toggle="modal" data-bs-target="#orderCallModal">{{ trans.order_call }}</a>
    </li>

    <!--
    <li class="nav-item">
        <a class="nav-link" href="{% url 'house_list' %}">{{ trans.house_list }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'plans' %}">{{ trans.plans }}</a>
    </li>
    -->

</ul>

{% include "default/modules/order_call_modal.html" %}
