{# /opt/balthub/templates/default/modules/sitename.html #}

<div class="col-12 col-sm-10 col-md-6 col-lg-4 offset-lg-1 module html-module">
    <h1 data-textfit data-padding="30" class="mb-2">
        <small data-textfit data-padding="30" data-fill="0.8">{{ trans.sitenamehint }}</small>
        <!--{{ data.site_name }}-->
        <span class="d-block" data-textfit data-min-size="48" data-max-size="120" data-padding="30" data-fill="0.9">{{ trans.new_builds }}</span>
        <span class="d-block" data-textfit data-min-size="48" data-max-size="120" data-padding="30" data-fill="0.9">{{ trans.kaliningrada }}</span>
        <span class="d-block text-end" data-textfit data-padding="30" data-fill="0.5">{{ trans.and_seaside }}</span>
    </h1>
    <span class="sitename-slogan nicoletta" data-textfit data-min-size="48" data-max-size="120" data-padding="60" data-fill="0.9">{{ trans.slogan }}</span>
</div>
