<!-- /opt/balthub/templates/default/modules/ymaps.html -->

{% load static %}

{% if map_settings.enabled and map_settings.provider == "yandex" %}

<link rel="stylesheet" href="{% static 'assets/css/maps.css' %}">
<div class="col-12">

<section class="main-map position-relative">

    <div id="collection-map-footer" data-zoom="10"></div>
    <div class="maps-overlay position-absolute"><span class="maps-toggler position-absolute text-center"><i class="fa-solid fa-lock"></i></span></div>

    {{ data.points|json_script:"collection-map-data-footer" }}

</section>
</div>

<script src="https://api-maps.yandex.ru/v3/?apikey={{ map_settings.api_key }}&lang={{ map_settings.language }}"></script>

<script src="{% static 'assets/js/maps/yandex.js' %}"></script>

<script src="{% static 'assets/js/maps/all_objects.js' %}"></script>

{% endif %}
