<!-- templates/default/pages/estates/ajax/_developer_list.html -->

<div class="pickers position-relative container-fluid" data-i18n-select="{{ trans.text_choose }}">
    {% include "default/modules/picker.html" with pickers=pickers %}
</div>

<!-- ITEMS -->
<div
    class="row"
    data-items
>

    {% if page_obj %}

        {% for developer in page_obj %}

            <div class="col-md-3">

                {% include "default/pages/estates/developer_card.html" with developer=developer %}

            </div>

        {% endfor %}

    {% else %}

        <p>{{ trans.no_developers }}</p>

    {% endif %}

</div>

<!-- PAGINATION -->
<div
    class="pagination-wrapper"
    data-pagination
>

    {% include "default/includes/infinite_pagination.html" %}

</div>