<!-- /opt/balthub/templates/default/pages/estates/ajax/_flat_list.html -->

<div class="pickers position-relative">
    {% include "default/modules/picker.html" with pickers=pickers %}
</div>

<div class="row" data-items>
    {% if page_obj %}
        {% for flat in page_obj %}
            <div class="col-md-3">
                {% include "default/pages/estates/flat_card.html" with flat=flat %}
            </div>
        {% endfor %}
    {% else %}
        <p>{{ trans.no_flats }}</p>
    {% endif %}
</div>

<div class="pagination-wrapper" data-pagination>
    {% include "default/includes/infinite_pagination.html" %}
</div>






