<div class="card mb-3">
    

        {% with img=project.images.first %}
            {% if img %}
                <div class="card-img-wrapper">
                    <img src="{{ img.image }}" class="card-img">
                </div>
            {% endif %}
        {% endwith %}

        <div class="card-body">
            <h5>{{ project.name }}</h5>

            {% if project.developer %}
                <small class="text-muted">
                    {{ project.developer.name }}
                </small>
            {% endif %}

            {% if project.params %}
                <span class="card-city">{{ project.params.city.name }}</span>
            {% endif %}

            <a href="{% url 'project_detail' project.slug %}" class="btn btn-primary">Подробнее</a>
        </div>

    
</div>
